@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trivial Pursuit</h1>
    <p class="lead">Play a round of trivial pursuit to beef up your trivia knowledge. Don't look like a fool at your local bar's trivia night ever again.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p><a href='@Url.Action("Index", "GameBase")' class="btn btn-primary">Start Playing Now</a></p>
    }
    @if (!User.Identity.IsAuthenticated)
    {

        <p><a href='@Url.Action("Register", "Account")' class="btn btn-primary">Register To Start Playing Now</a></p>
    }
</div>

<div class="row">

    <div class="col-md-4">
        <div class="piepiece">
        </div>
        <h2>Make your own questions!</h2>
        <p>Add your own questions!</p>
        <p><a href='@Url.Action("Index", "Question")' class="btn btn-primary">See My Questions</a></p>
    </div>
    <div class="col-md-4">
        <div class="piepiece">
        </div>
        <h2>Add Answers</h2>
        <p>
            Add answers to your questions!'
        </p>
        <p><a href='@Url.Action("Index", "Answer")' class="btn btn-primary">See My Answers</a></p>
    </div>
    <div class="col-md-4">
        <div class="piepiece">
        </div>
        <h2>Player Rankings</h2>
        <p>See where you rank!</p>
        <p> <a href='@Url.Action("Index", "User")' class="btn btn-primary">See Rankings</a></p>
    </div>
</div>
<style>
    .piepiece {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 40px solid red;
    }
</style>